#wrapper {
  padding: 0 8%;
}
#wrapper .progressbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  height: 300px;
  align-items: center;
  padding: 0;
  margin-top: 30px;
}
#wrapper .progressbar ul li {
  border-radius: 50%;
  position: relative;
  white-space: nowrap;
  width: 30px;
  height: 30px;
}
#wrapper .progressbar ul li span {
  margin-top: 44px;
  position: absolute;
  margin-left: -11px;
}
#wrapper .progressbar ul li + li {
  margin-left: 100px;
}
#wrapper .progressbar ul li + li span {
  position: absolute;
  margin-left: -18px;
}
#wrapper .progressbar ul li + li::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: rgb(1, 1, 1);
  top: 0;
  bottom: 0;
  left: -100px;
  margin: auto;
}
#wrapper .progressbar ul li:nth-child(1) {
  background-color: #D9D9D9;
}
#wrapper .progressbar ul li:nth-child(2) {
  background-color: #D9D9D9;
}
#wrapper .progressbar ul li:nth-child(3) {
  background-color: #8A6E36;
}
#wrapper .order {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
#wrapper .order .order-list {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  width: 50%;
}
#wrapper .order .order-list .order-items {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  margin-bottom: 10px;
  margin: 0 10% 0 0;
}
#wrapper .order .order-list .order-items:not(:last-child) {
  border-bottom: 1px solid #8A6E36;
}
#wrapper .order .order-list .order-items .order-img img {
  max-width: 300px;
  border-radius: 24px;
}
#wrapper .order .order-list .order-items .order-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #8A6E36;
}
#wrapper .order .order-list .order-items .order-text .order-description {
  line-height: 1.5em;
}
#wrapper .order .order-list .order-items .order-text .order-icon {
  display: flex;
  align-items: center;
}
#wrapper .order .order-list .order-items .order-text .order-icon i {
  margin-left: 2px;
}
#wrapper .order .order-list .order-items .order-text .order-icon i:nth-child(4) {
  padding-left: 80px;
}
#wrapper .order .order-fee {
  width: 32.8%;
  margin-right: 8.2%;
  border-radius: 24px;
  border: 1px solid #8A6E36;
  height: auto;
}
#wrapper .order .order-fee .order-text {
  border-bottom: 1px solid #889397;
  font-size: 18px;
  padding: 15px 0;
  line-height: 1.8em;
  width: 100%;
}
#wrapper .order .order-fee .order-button {
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  background-color: #DED2B2;
  font-size: 18px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
#wrapper .order .order-fee .order-button:hover {
  background-color: #8A6E36;
}
#wrapper .order .order-fee .order-button:hover a {
  color: #fff;
}
#wrapper .order .order-fee .order-button a {
  width: 100%;
  display: inline-block;
  padding: 20px 0;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  body #wrapper {
    margin-bottom: 3%;
  }
  body #wrapper .order {
    display: flex;
    flex-direction: column;
  }
  body #wrapper .order .order-list {
    width: initial;
    margin-right: 0%;
  }
  body #wrapper .order .order-list img {
    width: 150px;
  }
  body #wrapper .order .order-fee {
    width: initial;
  }
  body #wrapper .order .order-fee {
    width: initial;
    margin: 0 5%;
    padding: 0;
    border-radius: 24px;
    border: 1px solid #8A6E36;
  }
  body #wrapper .order .order-fee .order-text {
    border-bottom: 1px solid #889397;
    font-size: 14px;
    padding: 15px 0;
    line-height: 1.8em;
    width: 100%;
  }
  body #wrapper .order .order-fee .order-button {
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    background-color: #DED2B2;
    font-size: 18px;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  body #wrapper .order .order-fee .order-button:hover {
    background-color: #8A6E36;
  }
  body #wrapper .order .order-fee .order-button:hover a {
    color: #fff;
  }
  body #wrapper .order .order-fee .order-button a {
    width: 100%;
    display: inline-block;
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: black;
  }
}/*# sourceMappingURL=cart1.3.css.map */