.wrap {
  max-width: 768px;
}
.wrap .banner {
  max-width: 100vw;
  background-color: #DED2B2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .banner .banner_img {
  width: 200%;
  position: absolute;
  bottom: 6%;
}
.wrap .banner .banner_img img {
  width: 100%;
}
.wrap .banner .banner_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  position: relative;
  color: #8A6E36;
}
.wrap .banner .banner_content .banner_illustration {
  width: 30%;
}
.wrap .banner .banner_content .banner_illustration img {
  width: 100%;
}
.wrap .banner .banner_content .banner_title {
  margin-top: 5% 0;
}
.wrap .banner .banner_content .banner_title span {
  font-size: 40px;
}
.wrap .banner .banner_content .banner_link {
  width: 100%;
  margin: 200% 0 20%;
  text-align: center;
}
.wrap .banner .banner_content .banner_link a {
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #8A6E36;
  color: #8A6E36;
  border-radius: 24px;
  padding: 2% 8%;
}
.wrap .products {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #8A6E36;
}
.wrap .products .products_title {
  margin-top: 7%;
}
.wrap .products .products_title span {
  font-size: 40px;
  color: rgb(138, 110, 54);
}
.wrap .products .products_list {
  margin: 7% 0;
  width: 100%;
}
.wrap .products .products_list ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.wrap .products .products_list ul li {
  font-size: 16px;
}
.wrap .products .products_img {
  width: 100%;
}
.wrap .products .products_img img {
  width: 100%;
}
.wrap .products .products_link {
  width: 90%;
  margin: 7% 0;
}
.wrap .products .products_link a {
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #8A6E36;
  color: #8A6E36;
  border-radius: 24px;
  padding: 2% 8%;
}
.wrap .guides {
  max-width: 100vw;
  background-color: #DED2B2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8A6E36;
  position: relative;
}
.wrap .guides .guides_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
}
.wrap .guides .guides_content .guides_illustration {
  width: 10%;
}
.wrap .guides .guides_content .guides_illustration img {
  width: 100%;
}
.wrap .guides .guides_content .guides_title {
  margin-top: 5% 0;
}
.wrap .guides .guides_content .guides_title span {
  font-size: 40px;
}
.wrap .guides .guides_content .guides_text {
  padding: 0 7%;
}
.wrap .guides .guides_content .guides_text p {
  text-align: justify;
  line-height: 1.5em;
}
.wrap .guides .guides_content .guides_link {
  width: 100%;
  margin: 75% 0 7%;
  text-align: center;
}
.wrap .guides .guides_content .guides_link a {
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #8A6E36;
  color: #8A6E36;
  border-radius: 24px;
  padding: 2% 8%;
}
.wrap .guides .guides_img {
  width: 70%;
  position: absolute;
  bottom: 13%;
}
.wrap .guides .guides_img img {
  width: 100%;
}
.wrap .features {
  display: flex;
  flex-direction: column;
  color: #8A6E36;
  max-width: 100vw;
  text-align: center;
}
.wrap .features .features_title {
  margin: 5% 0;
}
.wrap .features .features_title span {
  font-size: 40px;
}
.wrap .features .features_img {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
.wrap .features .features_img img {
  width: 100%;
}
.wrap .features .features_img .features_text div {
  position: absolute;
}
.wrap .features .features_img .features_text div span {
  font-size: 14px;
}
.wrap .features .features_img .features_text div:nth-child(1) {
  left: -4%;
  top: 2%;
}
.wrap .features .features_img .features_text div:nth-child(2) {
  left: -6%;
  top: 38%;
}
.wrap .features .features_img .features_text div:nth-child(3) {
  bottom: -10%;
  left: -5%;
}
.wrap .features .features_img .features_text div:nth-child(4) {
  top: -10%;
  right: -1%;
}
.wrap .features .features_img .features_text div:nth-child(5) {
  top: 29%;
  right: -5%;
}
.wrap .features .features_img .features_text div:nth-child(6) {
  bottom: 2%;
  right: -6%;
}
.wrap .customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8A6E36;
  margin-bottom: 7%;
}
.wrap .customers .customers_title {
  margin: 5% 0;
}
.wrap .customers .customers_title span {
  font-size: 40px;
}
.wrap .customers .customers_feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.wrap .customers .customers_feedback .customers_content {
  background-color: #DED2B2;
  width: 70%;
  padding: 7% 0px 7%;
  border-radius: 24px;
}
.wrap .customers .customers_feedback .customers_content .customers_person {
  display: flex;
  align-items: center;
  padding: 0 30px 0 30px;
}
.wrap .customers .customers_feedback .customers_content .customers_person .customers_name {
  margin-left: 20px;
  line-height: 1.5em;
}
.wrap .customers .customers_feedback .customers_content .customers_person .customers_name i {
  color: #F8A401;
}
.wrap .customers .customers_feedback .customers_content .customers_text {
  padding: 0 30px 10px 30px;
}
.wrap .customers .customers_feedback .customers_content .customers_text P {
  line-height: 1.5em;
  text-align: justify;
}
.wrap .customers .customers_feedback .customers_content .customers_link {
  text-align: center;
}
.wrap .customers .customers_feedback .customers_content .customers_link a {
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #8A6E36;
  color: #8A6E36;
  border-radius: 24px;
  padding: 2% 8%;
}
.wrap .customers .customers_feedback .customers_wear {
  width: 70%;
}
.wrap .customers .customers_feedback .customers_wear img {
  width: 100%;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .wrap {
    max-width: 100vw;
    background-color: #FFFAED;
  }
  .wrap .banner {
    background-color: #FFFAED;
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    position: initial;
  }
  .wrap .banner .banner_img {
    width: 60%;
    left: -32%;
    bottom: -12%;
  }
  .wrap .banner .banner_content {
    background-color: #DED2B2;
    width: 52%;
    box-sizing: border-box;
    border-radius: 24px;
    align-items: start;
    height: 450px;
    margin: 10% 0 0;
    padding: 3% 3% 3% 26%;
  }
  .wrap .banner .banner_content .banner_illustration {
    width: 12%;
    margin: 3% 0;
  }
  .wrap .banner .banner_content .banner_title {
    margin: 3% 0;
  }
  .wrap .banner .banner_content .banner_title span {
    font-size: 48px;
  }
  .wrap .banner .banner_content .banner_link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3% 0;
  }
  .wrap .products .products_list {
    margin: 3% 0;
  }
  .wrap .products .products_list ul li {
    font-size: 20px;
  }
  .wrap .products .products_img {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .wrap .products .products_link {
    margin-top: 3%;
  }
  .wrap .products .products_link a {
    border-radius: 24px;
    padding: 1% 4%;
  }
  .wrap .guides {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 80%;
    height: 450px;
    margin: auto;
    border-radius: 24px;
  }
  .wrap .guides .guides_img {
    width: 30%;
    left: 8%;
    bottom: -8%;
  }
  .wrap .guides .guides_img img {
    width: 100%;
  }
  .wrap .guides .guides_content {
    width: 40%;
    padding: 0 10%;
    align-items: flex-start;
    margin: 0;
  }
  .wrap .guides .guides_content .guides_illustration {
    width: 8%;
    margin: 3% 0;
  }
  .wrap .guides .guides_content .guides_illustration img {
    width: 100%;
  }
  .wrap .guides .guides_content .guides_title {
    text-align: left;
    margin: 0;
  }
  .wrap .guides .guides_content .guides_title span {
    font-size: 48px;
  }
  .wrap .guides .guides_content .guides_text {
    box-sizing: border-box;
    padding: 0%;
  }
  .wrap .guides .guides_content .guides_text p {
    font-size: 18px;
  }
  .wrap .guides .guides_content .guides_link {
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  .wrap .features .features_title {
    margin: 7% 0;
  }
  .wrap .features .features_title span {
    font-size: 48px;
  }
  .wrap .features .features_img {
    width: 40%;
  }
  .wrap .features .features_img img {
    width: 100%;
  }
  .wrap .features .features_img .features_text div {
    position: absolute;
  }
  .wrap .features .features_img .features_text div span {
    font-size: 18px;
  }
  .wrap .features .features_img .features_text div:nth-child(1) {
    left: -2%;
    top: 7%;
  }
  .wrap .features .features_img .features_text div:nth-child(2) {
    left: -4%;
    top: 41%;
  }
  .wrap .features .features_img .features_text div:nth-child(3) {
    bottom: -8%;
    left: -2.5%;
  }
  .wrap .features .features_img .features_text div:nth-child(4) {
    top: -7%;
    right: 0.5%;
  }
  .wrap .features .features_img .features_text div:nth-child(5) {
    top: 32%;
    right: -4%;
  }
  .wrap .features .features_img .features_text div:nth-child(6) {
    bottom: 6%;
    right: -5%;
  }
  .wrap .customers {
    width: 100vw;
    margin: 0;
    padding: 7% 0;
  }
  .wrap .customers .customers_title {
    margin: 0 0;
  }
  .wrap .customers .customers_title span {
    font-size: 48px;
  }
  .wrap .customers .customers_feedback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70.4%;
  }
  .wrap .customers .customers_feedback .customers_content {
    order: 2;
    z-index: 0;
    width: 40%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 80px 20px 60px 80px;
  }
  .wrap .customers .customers_feedback .customers_content .customers_person {
    padding: 0;
  }
  .wrap .customers .customers_feedback .customers_content .customers_person .customers_name {
    margin: 0 0 0 20px;
  }
  .wrap .customers .customers_feedback .customers_content .customers_text {
    padding: 0;
  }
  .wrap .customers .customers_feedback .customers_content .customers_link {
    display: flex;
    justify-content: flex-end;
  }
  .wrap .customers .customers_feedback .customers_wear {
    order: 1;
    position: relative;
    z-index: 1;
    width: 40%;
    height: 100%;
    margin-right: -50px;
    margin-top: 150px;
  }
}/*# sourceMappingURL=homepage.css.map */