@import "style/reset";


body {
    overflow-x: hidden;

    #animation {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;

        svg {
            width: 35%;
            height: 35%;
        }
    }

    #wrapper {
        margin-top: 58px; //拉出空間不與導覽列重疊
    }
}



// @import "style/content";




// @import 'style/footer';