.order-list {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    width: 50%;

    .order-items {
        background-color: #fff;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;
        margin-bottom: 10px;
        border: 1px solid #889397;

        .order-text {
            .order-description {
                line-height: 1.5em;
            }

            .order-icon {
                display: flex;
                align-items: center;

                i {
                    margin-left: 2px;
                }
            }

            .order-icon i:nth-child(4) {
                padding-left: 80px;
            }
        }
    }
}