#wrapper {
    padding: 0 8%;

    .progressbar ul {
        display: flex;
        justify-content: center;
        list-style: none;
        height: 300px;
        align-items: center;
        padding: 0;
        margin-top: 30px;



        li {
            border-radius: 50%;
            position: relative;
            white-space: nowrap;
            width: 30px;
            height: 30px;

            span {
                margin-top: 44px;
                position: absolute;
                margin-left: -11px;
            }
        }

        li+li {
            margin-left: 100px;

            span {
                position: absolute;
                margin-left: -18px;
            }
        }

        li+li::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 2px;
            background-color: rgb(1, 1, 1);
            top: 0;
            bottom: 0;
            left: -100px;
            margin: auto;

        }

        li:nth-child(1) {
            background-color: #D9D9D9;

        }

        li:nth-child(2) {
            background-color: #D9D9D9;
        }

        li:nth-child(3) {
            background-color: #8A6E36;

        }
    }

    .order {
        display: flex;
        justify-content: center;
        margin-bottom: 5%;

        .order-list {
            display: flex;
            flex-direction: column;
            margin-right: 2%;
            width: 50%;

            .order-items {
                display: flex;
                justify-content: space-evenly;
                padding: 20px 0;
                margin-bottom: 10px;
                margin: 0 10% 0 0;

                &:not(:last-child) {
                    border-bottom: 1px solid #8A6E36;
                }

                .order-img {
                    img {
                        max-width: 300px;
                        border-radius: 24px;
                    }
                }

                .order-text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: #8A6E36;

                    .order-description {
                        line-height: 1.5em;
                    }

                    .order-icon {
                        display: flex;
                        align-items: center;

                        i {
                            margin-left: 2px;
                        }
                    }

                    .order-icon i:nth-child(4) {
                        padding-left: 80px;
                    }
                }
            }
        }


        .order-fee {
            width: 32.8%;
            margin-right: 8.2%;
            border-radius: 24px;
            border: 1px solid #8A6E36;
            height: auto;


            .order-text {
                border-bottom: 1px solid #889397;
                font-size: 18px;
                padding: 15px 0;
                line-height: 1.8em;
                width: 100%;
            }


            .order-button {
                border-bottom-right-radius: 24px;
                border-bottom-left-radius: 24px;
                background-color: #DED2B2;
                // border: 1px solid #889397;
                font-size: 18px;
                // padding: 0 15px;
                width: 100%;
                text-align: center;
                cursor: pointer;


                &:hover {
                    background-color: #8A6E36;

                    a {
                        color: #fff;
                    }
                }

                a {
                    width: 100%;
                    display: inline-block;
                    padding: 20px 0;
                    font-size: 18px;
                    text-align: center;
                    text-decoration: none;
                    color: black;
                }
            }

        }



    }
}

@media screen and (max-width:768px) {
    body {
        #wrapper {
            margin-bottom: 3%;

            .order {
                display: flex;
                flex-direction: column;

                .order-list {
                    width: initial;
                    margin-right: 0%;

                    img {
                        width: 150px;
                    }
                }

                .order-fee {
                    width: initial;
                }

                .order-fee {
                    width: initial;
                    margin: 0 5%;
                    padding: 0;
                    border-radius: 24px;
                    border: 1px solid #8A6E36;

                    .order-text {
                        border-bottom: 1px solid #889397;
                        font-size: 14px;
                        padding: 15px 0;
                        line-height: 1.8em;
                        width: 100%;
                    }


                    .order-button {
                        border-bottom-right-radius: 24px;
                        border-bottom-left-radius: 24px;
                        background-color: #DED2B2;
                        // border: 1px solid #889397;
                        font-size: 18px;
                        // padding: 0 15px;
                        width: 100%;
                        text-align: center;
                        cursor: pointer;


                        &:hover {
                            background-color: #8A6E36;

                            a {
                                color: #fff;
                            }
                        }

                        a {
                            width: 100%;
                            display: inline-block;
                            padding: 20px 0;
                            font-size: 18px;
                            text-align: center;
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}