@import "reset";

.products-wrap {
    background: linear-gradient(to top right, #E4D9B8, #FFFAED);

    .banner {
        position: relative;

        img {
            width: 100%;
        }
    }

    .banner-text {
        span {
            font-size: 70px;
            position: absolute;
            top: 40%;
            right: 5%;
            color: #0c0c0c;
        }
    }

    @import "body/bread";

    @import "body/productList";

    @import "body/pagination";
}