@import "reset";

.guides-wrap {

    .banner {
        position: relative;

        img {
            width: 100%;
        }
    }

    .banner-text {
        span {
            font-size: 48px;
            position: absolute;
            top: 70%;
            right: 5%;
            color: #0c0c0c;
        }
    }

    @import "common/bar";

    @import "common/productList";

    @import "common/pagination";
}