@import "reset";

.products-wrap {

    .banner {
        position: relative;

        img {
            width: 100%;
        }
    }

    .banner-text {
        span {
            font-size: 70px;
            position: absolute;
            top: 70%;
            right: 5%;
            color: #FFFAED;
            letter-spacing: 2px;
        }
    }

    @import "body/bread";

    @import "body/productList";

    @import "body/pagination";
}