body {
    background-color: #FFFAED;

    .wrap {
        @import "common/bar";

        .banner {
            display: none;
        }



        // .topbar {
        //     .bread-crumbs {
        //         display: none
        //     }
        // }

        @import "common/productList";

        @import "common/pagination";
    }
}

@media screen and (min-width:768px) {
    .wrap {
        .banner {
            position: relative;

            img {
                width: 100%;
            }

            .banner-text {

                span {
                    font-size: 48px;
                    position: absolute;
                    top: 70%;
                    right: 5%;
                    color: #FFFAED;

                }
            }
        }

        .topbar {
            .bread-crumbs {
                display: block;
            }
        }

        @import "common/bar";

        @import "common/productList";

        @import "common/pagination";
    }
}