body {
    background-color: #FFFAED;

    #wrapper {
        max-width: 100vw;
        @import "common/bar";

        .topbar {
            padding-left: 2%;

            .bread-crumbs {
                .bread {
                    padding-left: 0px;

                    li {
                        a {
                            font-size: 14px;
                        }
                    }

                    li+li:before {
                        font-size: 14px;
                    }
                }
            }
        }

        .product {
            .product-img {
                max-width: 100vw;
                margin: auto;

                .bigimg {
                    width: 400px;
                    margin: 0 auto 20px;

                    img {
                        width: 100%;
                        border-radius: 24px;
                    }

                }

                .smallimg {
                    width: 370px;
                    margin: 0 auto 20px;

                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 24px;
                    }

                    .slick-prev:before,
                    .slick-next:before {
                        color: #8A6E36;
                    }
                }

            }

            .product-text {
                box-sizing: border-box;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                line-height: 1.5em;
                padding: 0 5%;
                color: #8A6E36;

                .top {
                    border-bottom: 1px solid #8A6E36;
                    padding: 10px 0;

                    i {
                        color: #F8A401;
                    }

                    .product-name {
                        font-size: 20px;
                    }

                    .price {
                        display: flex;

                        span {
                            padding-right: 10px;
                        }

                        span:nth-child(3) {
                            text-decoration: line-through;
                            color: #710d0d;
                            font-size: 14px;
                        }

                        span:last-child {
                            color: #f43737;
                        }
                    }
                }

                .middle {
                    border-bottom: 1px solid #8A6E36;
                    padding: 10px 0;

                    select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        box-sizing: border-box;
                        background: #FFFFFF;
                        border: 1px solid #C4C4C4;
                        line-height: normal;
                        width: 20%;
                        margin-left: 3px;
                        padding: 2px 5px;
                    }

                    .color-block {
                        display: flex;
                        width: 90%;
                        height: 40px;
                        align-self: end;
                        gap: 5px;


                        .color {
                            width: 90px;
                            height: 30px;
                            margin-right: 5px;
                            border-radius: 5px;


                            &.white {
                                background-color: #fff;
                                // border: 1px solid #889397;

                                &:hover {
                                    box-shadow: 0 0 0 2px rgb(190, 38, 38);
                                }
                            }


                            &.red {
                                background-color: #e77070;

                                // border: 1px solid #978b88;
                                &:hover {
                                    box-shadow: 0 0 0 2px rgb(190, 38, 38);
                                }
                            }

                            &.green {
                                background-color: #689c68;

                                // border: 1px solid #0aad0a;
                                &:hover {
                                    box-shadow: 0 0 0 2px rgb(190, 38, 38);
                                }
                            }

                            &.yellow {
                                background-color: #f1cb58;

                                // border: 1px solid #ffc107;
                                &:hover {
                                    box-shadow: 0 0 0 2px rgb(190, 38, 38);
                                }
                            }

                            &.blue {
                                // border: 1px solid #5c6c75;
                                background-color: #a2b6c1;

                                &:hover {
                                    box-shadow: 0 0 0 2px rgb(190, 38, 38);
                                }
                            }

                        }


                    }

                    .product-button {
                        max-width: 100%;

                        button {
                            cursor: pointer;
                            background-color: #DED2B2;
                            border: 1px solid #889397;
                            padding: 1.5em 0;
                            cursor: pointer;
                            margin: 0;
                            background-color: #CEB87B;
                            border: none;
                            border-radius: 15px;
                            color: white;
                            padding: 15px 32px;
                            text-align: center;
                            font-size: 16px;
                            transition: 300ms;
                            width: 100%;
                            // height: 50px;

                            &:hover {
                                background-color: #8A6E36;

                            }
                        }
                    }
                }

                .bottom {
                    padding: 10px 0;
                    font-size: 16px;
                    line-height: 20px;
                    color: #5C6C75;

                    i {
                        cursor: pointer;
                    }
                }
            }
        }

        .shipping,
        .description {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #8A6E36;
            padding: 10px 0;
        }

        .shipping,
        .description,
        .like {
            color: #8A6E36;
            padding: 0 5% 5%;

            .shipping-title,
            .description-title,
            .like-title {
                font-size: 20px;
                text-align: center;
                margin: 20px 0;
            }

            .description-text,
            .shipping-text {
                font-size: 16px;
                line-height: 1.5em;
            }
        }

        .like {
            max-width: 768px;
            margin: auto;

            .autoplay {
                width: 100%;

                img {
                    border-radius: 24px;
                    margin-left: 40px;

                }
            }

            .slick-prev:before,
            .slick-next:before {
                color: #8A6E36;
            }

        }
    }
}

@media screen and (min-width:768px) {
    body {
        background-color: #FFFAED;

        #wrapper {
            max-width: 100vw;
            @import "common/bar";

            .topbar {
                padding-left: 2%;
                margin-top: 10%;

            }

            .product {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #8A6E36;


                .product-img {
                    box-sizing: border-box;
                    width: 100%;
                    margin-bottom: 3%;

                    .bigimg {
                        width: 500px;
                        margin: 0 auto 20px;
                    }

                    .smallimg {
                        width: 500px;
                    }
                }

                .product-text {
                    box-sizing: border-box;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    line-height: 1.5em;
                    padding: 0 5%;
                    color: #8A6E36;

                    .top {
                        border-bottom: 1px solid #8A6E36;
                        padding: 10px 0;

                        i {
                            color: #F8A401;
                        }

                        .product-name {
                            font-size: 20px;
                        }

                        .price {
                            display: flex;

                            span {
                                padding-right: 10px;
                            }

                            span:nth-child(3) {
                                text-decoration: line-through;
                                color: #710d0d;
                                font-size: 14px;
                            }

                            span:last-child {
                                color: #f43737;
                            }
                        }
                    }

                    .middle {
                        border-bottom: 1px solid #8A6E36;
                        padding: 10px 0;

                        select {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            box-sizing: border-box;
                            background: #FFFFFF;
                            border: 1px solid #C4C4C4;
                            line-height: normal;
                            width: 20%;
                            margin-left: 3px;
                            padding: 2px 5px;
                        }

                        .color-block {
                            display: flex;
                            width: 90%;
                            height: 40px;
                            align-self: end;
                            gap: 5px;


                            .color {
                                width: 90px;
                                height: 30px;
                                margin-right: 5px;
                                border-radius: 5px;


                                &.white {
                                    background-color: #fff;
                                    // border: 1px solid #889397;

                                    &:hover {
                                        box-shadow: 0 0 0 2px rgb(190, 38, 38);
                                    }
                                }


                                &.red {
                                    background-color: #e77070;

                                    // border: 1px solid #978b88;
                                    &:hover {
                                        box-shadow: 0 0 0 2px rgb(190, 38, 38);
                                    }
                                }

                                &.green {
                                    background-color: #689c68;

                                    // border: 1px solid #0aad0a;
                                    &:hover {
                                        box-shadow: 0 0 0 2px rgb(190, 38, 38);
                                    }
                                }

                                &.yellow {
                                    background-color: #f1cb58;

                                    // border: 1px solid #ffc107;
                                    &:hover {
                                        box-shadow: 0 0 0 2px rgb(190, 38, 38);
                                    }
                                }

                                &.blue {
                                    // border: 1px solid #5c6c75;
                                    background-color: #a2b6c1;

                                    &:hover {
                                        box-shadow: 0 0 0 2px rgb(190, 38, 38);
                                    }
                                }

                            }


                        }

                        .product-button {
                            max-width: 100%;

                            button {
                                cursor: pointer;
                                background-color: #DED2B2;
                                border: 1px solid #889397;
                                padding: 1.5em 0;
                                cursor: pointer;
                                margin: 0;
                                background-color: #CEB87B;
                                border: none;
                                border-radius: 15px;
                                color: white;
                                padding: 15px 32px;
                                text-align: center;
                                font-size: 16px;
                                transition: 300ms;
                                width: 100%;
                                // height: 50px;

                                &:hover {
                                    background-color: #8A6E36;

                                }
                            }
                        }
                    }

                    .bottom {
                        padding: 10px 0;
                        font-size: 16px;
                        line-height: 20px;
                        color: #5C6C75;

                        i {
                            cursor: pointer;
                        }
                    }
                }
            }


            .shipping,
            .description,
            .like {
                padding: 0 2% 2%;

            }
        }
    }
}