.new-register {
    display: flex;
    flex-direction: column;
    align-items: center;

    div:nth-child(3) {
        position: relative;

        input[type="password"] {
            position: relative;
        }

        i {
            position: absolute;
            cursor: pointer;
            top: 17%;
            right: 2px;
        }
    }

    div:nth-child(4) {
        position: relative;

        input[type="password"] {
            position: relative;
        }

        i {
            position: absolute;
            cursor: pointer;
            top: 17%;
            right: 2px;
        }
    }

}