.topbar {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;

    .bread-crumbs {

        .bread {
            list-style: none;
            margin: auto;
            display: flex;
            padding-left: 80px;

            li {
                &a {
                    text-decoration: none;
                    color: black;
                    font-size: 30px;


                    &:hover {
                        color: red;
                    }
                }
            }


            li+li:before {
                content: '>';
                color: black;
                padding: 0 10px;

            }
        }
    }

    .sorting {
        padding-right: 80px;
    }
}