.topbar {
    display: flex;
    justify-content: space-between;
    margin: 15% 0 5% 5%;


    .bread-crumbs {
        display: none;
    }

    .sorting {

        span {
            font-size: 14px;
            color: #8A6E36;
        }

        .fa {
            font-size: 15px;
            color: #8A6E36;
        }
    }
}

@media screen and (min-width:768px) {
    .topbar {
        display: flex;
        justify-content: space-between;
        margin: 10% 4% 3% 4%;

        .bread-crumbs {
            display: block;

            .bread {
                list-style: none;
                margin: auto;
                display: flex;


                li {
                    a {
                        text-decoration: none;
                        color: #8A6E36;
                        font-size: 20px;


                        &:hover {
                            color: red;
                        }
                    }
                }


                li+li:before {
                    content: '>';
                    color: black;
                    padding: 0 10px;
                    font-size: 20px;
                }
            }
        }

        .sorting {
            // padding-right: 80px;

            span {
                font-size: 20px;
            }

            .fa {
                font-size: 25px;
            }
        }
    }
}