.bread-crumbs {

    .bread {
        list-style: none;
        margin: auto;
        display: flex;
        padding-top: 30px;
        padding-left: 80px;

        li {
            a {
                text-decoration: none;
                color: black;

                &:hover {
                    color: red;
                }
            }
        }


        li+li:before {
            content: '>';
            color: black;
            padding: 0 10px;

        }
    }
}